.container{
    display: grid;
    grid-template-rows: 75px 50px 700px;
    grid-template-columns: 100px 100px 100px 100px auto 100px 100px;
}
.blue{
    background-color: aqua;
    color: black;
    text-align: center;
    grid-column: span 7;
}
.gray{
    background-color: gray;
    color: white;
    text-align: center;
    padding-top: 10px;
}
.write{
    background-color: gainsboro;
    grid-column: span 5;
    text-align: center;
}
.black{
    background-color: rgb(49, 45, 45);
    color: white;
    grid-column: span 2;
    text-align: center;
}